@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5f5f5;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

iframe {
  display: block;       
  background: #000;
  border: none;       
  height: 100vh !important;      
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes movehorizontal {
  0% {
    transform: translateX(0);
  } 
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.horizontal {
  animation: movehorizontal 3s infinite;
}

h1>span {
  font-family: sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  transition: ease-in .3s;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 12px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(-2px, -12px);
}